.ant-table-container{
    width: calc( 100vw - 257px );
    overflow-x: scroll;
}

@media (max-width: 768px) {
    .ant-table-container{
        width: calc( 100vw - 31px );
        overflow-x: scroll;
    }
}